@model int

<div class="container row pt-4">
    <div class="col-12 text-center flex">
        <h1 class="text-white text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br/><br/>
        <img src="~/images/thanks.png" />
    </div>
    <div class="col-12 text-center" style="color:#96c116">
        <br />
        Your order has been placed successfully! <br />
    </div>
    
</div> 